.App {
  margin: 0;
  text-align: center;
  width: 100%;
  min-height: 100%;
  background-color: #fcf9f3;
  /* background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%); */
  display: table;
}

/* #fcf9f3 */
